{% schema %}
{
  "name": "Sticky Add To Cart",
  "target": "body",
  "stylesheet": "sticky-button.css",
  "javascript": "sticky-button.js",
  "settings": []
}
{% endschema %}

{%- assign settings = shop.metafields.stickyclick.settings.value -%}
{%- if settings.enabled -%}
  <div 
    id="sticky-click-container" 
    class="sticky-click-hidden"
    style="
      --sticky-primary: {{ settings.primaryColor | default: '#000000' }}; 
      --sticky-text: {{ settings.textColor | default: '#FFFFFF' }};
      --sticky-position: {{ settings.position | default: 'BOTTOM_RIGHT' }};
    "
  >
    <div class="sticky-click-wrapper">
      {%- if product.selected_or_first_available_variant.available -%}
        <button 
          id="sticky-click-btn"
          type="button"
          onclick="document.querySelector('form[action*=\'/cart/add\'] [type=\'submit\']').click()"
        >
          {{ settings.buttonText | default: 'Add to Cart' }}
          <span class="sticky-price"> - {{ product.selected_or_first_available_variant.price | money }}</span>
        </button>
      {%- else -%}
        <button id="sticky-click-btn" disabled>
          Sold Out
        </button>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}
